pipeline/Complete Date Dimension.json
{
	"name": "Complete Date Dimension",
	"properties": {
		"activities": [
			{
				"name": "Analyze start dimension",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(pipeline().parameters.StartDate,pipeline().parameters.FinalStartDate))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set Exec End Date",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ExecEndDate",
								"value": {
									"value": "@adddays(pipeline().parameters.StartDate,-1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Build Start Date Dime",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set Exec End Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[FillDateDim]",
								"storedProcedureParameters": {
									"EndDate": {
										"value": {
											"value": "@variables('ExecEndDate')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"StartDate": {
										"value": {
											"value": "@pipeline().parameters.FinalStartDate",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "sqlSource",
								"type": "LinkedServiceReference",
								"parameters": {
									"servername": {
										"value": "@pipeline().globalParameters.servername",
										"type": "Expression"
									},
									"databasename": {
										"value": "@pipeline().globalParameters.dwdatabase",
										"type": "Expression"
									},
									"username": {
										"value": "@pipeline().globalParameters.username",
										"type": "Expression"
									},
									"secretname": {
										"value": "@pipeline().globalParameters.passwordkey",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Analyse End Dimension",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(pipeline().parameters.FinalEndDate,pipeline().parameters.EndDate))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set Exec Start Date",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ExecStartDate",
								"value": "@adddays(pipeline().parameters.EndDate,1)"
							}
						},
						{
							"name": "Build End Date Dim",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Set Exec Start Date",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[FillDateDim]",
								"storedProcedureParameters": {
									"EndDate": {
										"value": {
											"value": "@pipeline().parameters.FinalEndDate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"StartDate": {
										"value": {
											"value": "@variables('ExecStartDate')",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "sqlSource",
								"type": "LinkedServiceReference",
								"parameters": {
									"servername": {
										"value": "@pipeline().globalParameters.servername",
										"type": "Expression"
									},
									"databasename": {
										"value": "@pipeline().globalParameters.dwdatabase",
										"type": "Expression"
									},
									"username": {
										"value": "@pipeline().globalParameters.username",
										"type": "Expression"
									},
									"secretname": {
										"value": "@pipeline().globalParameters.passwordkey",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"FinalStartDate": {
				"type": "string"
			},
			"FinalEndDate": {
				"type": "string"
			},
			"StartDate": {
				"type": "string"
			},
			"EndDate": {
				"type": "string"
			}
		},
		"variables": {
			"ExecEndDate": {
				"type": "String"
			},
			"ExecStartDate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DateDimension"
		},
		"annotations": []
	}
}